<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="dWBankAccount">
            <h2><span>DW Bank Account</span> {{dWBankAccount.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Username</span></dt>
                <dd>
                    <span>{{dWBankAccount.username}}</span>
                </dd>
                <dt><span>Password</span></dt>
                <dd>
                    <span>{{dWBankAccount.password}}</span>
                </dd>
                <dt><span>First Name</span></dt>
                <dd>
                    <span>{{dWBankAccount.firstName}}</span>
                </dd>
                <dt><span>Last Name</span></dt>
                <dd>
                    <span>{{dWBankAccount.lastName}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{dWBankAccount.email}}</span>
                </dd>
                <dt><span>Phone</span></dt>
                <dd>
                    <span>{{dWBankAccount.phone}}</span>
                </dd>
                <dt><span>Address</span></dt>
                <dd>
                    <span>{{dWBankAccount.address}}</span>
                </dd>
                <dt><span>Postal Code</span></dt>
                <dd>
                    <span>{{dWBankAccount.postalCode}}</span>
                </dd>
                <dt><span>Pan Number</span></dt>
                <dd>
                    <span>{{dWBankAccount.panNumber}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/dw-bank-account', dWBankAccount.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
