<div>
    <h2 id="page-heading">
        <span>DW Bank Accounts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-dw-bank-account" [routerLink]="['/dw-bank-account/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new DW Bank Account
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="dWBankAccounts">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Username</span></th>
            <th><span>Password</span></th>
            <th><span>First Name</span></th>
            <th><span>Last Name</span></th>
            <th><span>Email</span></th>
            <th><span>Phone</span></th>
            <th><span>Address</span></th>
            <th><span>Postal Code</span></th>
            <th><span>Pan Number</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dWBankAccount of dWBankAccounts ;trackBy: trackId">
                <td><a [routerLink]="['/dw-bank-account', dWBankAccount.id, 'view' ]">{{dWBankAccount.id}}</a></td>
                <td>{{dWBankAccount.username}}</td>
                <td>{{dWBankAccount.password}}</td>
                <td>{{dWBankAccount.firstName}}</td>
                <td>{{dWBankAccount.lastName}}</td>
                <td>{{dWBankAccount.email}}</td>
                <td>{{dWBankAccount.phone}}</td>
                <td>{{dWBankAccount.address}}</td>
                <td>{{dWBankAccount.postalCode}}</td>
                <td>{{dWBankAccount.panNumber}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/dw-bank-account', dWBankAccount.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/dw-bank-account', dWBankAccount.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'dw-bank-account/'+ dWBankAccount.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
