<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="dWTransaction">
            <h2><span>DW Transaction</span> {{dWTransaction.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Transaction Date</span></dt>
                <dd>
                    <span>{{dWTransaction.transactionDate}}</span>
                </dd>
                <dt><span>Transaction Remark</span></dt>
                <dd>
                    <span>{{dWTransaction.transactionRemark}}</span>
                </dd>
                <dt><span>Transaction Type</span></dt>
                <dd>
                    <span>{{dWTransaction.transactionType}}</span>
                </dd>
                <dt><span>Available Balance</span></dt>
                <dd>
                    <span>{{dWTransaction.availableBalance}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/dw-transaction', dWTransaction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
